body {
  font-family: 'Roboto';
}

.poster-null {
  min-width: 210px;
  min-height: 295px;
  background-color: darkgray;
  color: white;
  text-align: center;
}
.image-null {
  min-width: 210px;
  min-height: 118px;
  background-color: darkgray;
  color: white;
  text-align: center;
}

.episode-image {
  max-width: 210px;
  max-height: 118px;
}

.container {
  padding: 10px 0px;
  max-width: 1000px;
}
