/* .showContainer {
	display: flex;
}

.showContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
} */

/* .image-null {
	width: '250px';
	height: '140px';
	background-color: darkgray;
	color: white;
	text-align: center;
} */
/* .showContent {

} */
